[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 14.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 14.0

[submodule "OCA/stock-logistics-barcode"]
	path = OCA/stock-logistics-barcode
	url = git@github.com:OCA/stock-logistics-barcode.git
	branch = 14.0
